<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/3.4/examples/sticky-footer-navbar/sticky-footer-navbar.css"/>
<!--        <link rel="stylesheet" type="text/css" th:href="@{/static/css/sticky-footer-navbar.css}"/>-->
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Recipes</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/drinks">Drinks</a></li>
                    <li><a href="/food">Food</a></li>
                    <li>
                        <a th:href="@{/recipes/mine}" sec:authorize="isAuthenticated()">
                            My recipes
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/add-recipe}" sec:authorize="isAuthenticated()">
                            <span class="glyphicon glyphicon-plus"></span> Add recipe
                        </a>
                    </li>
                    <li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Add food recipe</a></li>
                            <li><a href="#">Add drink recipe</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Maybe something else here</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
                    <li><a th:href="@{/registration}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                    <form id="logoutForm" th:action="@{/logout}" method="POST"></form>
                    <li>
                        <a th:href="@{/favorites/favorites-list}">
                            <span class="glyphicon glyphicon-heart"></span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cart/shopping-list}">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                            <span th:text="${#authentication.getName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/favorites/favorites-list}">Favorites</a></li>
                            <li><a th:href="@{/cart/shopping-list}">Shopping list</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#" onclick="document.forms['logoutForm'].submit()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>

</body>
</html>
