<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="messages">
        <div class="alert alert-warning alert-dismissible" role="alert" th:if="${error}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:text="${error}"></span>
        </div>

        <div class="alert alert-info alert-dismissible" role="alert" th:if="${message}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:text="${message}"></span>
        </div>
    </div>
</body>
</html>
