<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Recipes</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div th:replace="fragments/messages :: messages"/>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <a class="btn btn-info btn-sm" th:href="@{'/cart/shopping-list'}">
                <span class="glyphicon glyphicon-duplicate"></span> Switch to recipes list from shopping cart
            </a>

            <h2>My ingredients from shopping list</h2>

            <div class="alert alert-warning alert-dismissible" role="alert"
                 th:if="${shoppingCartIngredientsChecked.isEmpty() && shoppingCartIngredientsUnchecked.isEmpty()}">
                <span>There are no ingredients in the list.</span>
            </div>

            <div class="panel panel-default"
                 th:if="${!shoppingCartIngredientsChecked.isEmpty()}">
                <div class="panel-heading">Checked ingredients</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="shoppingCartIngredient, iter : ${shoppingCartIngredientsChecked}">
                            <th scope="row" th:text="${iter.index + 1}"></th>
                            <td th:text="${shoppingCartIngredient.getFirst()}"></td>
                            <td>
                                <div th:each="quantity : ${shoppingCartIngredient.getSecond()}">
                                    <p th:text="${quantity}"> </p>
                                </div>
                            </td>
                            <td>
                                <form sec:authorize="isAuthenticated()" method="post"
                                      th:action="'/cart/check-all-ingredients-by-name/false'">
                                    <input type="hidden" th:name="shoppingCartIngredientName"
                                           th:value="${shoppingCartIngredient.getFirst()}">
                                    <input type="checkbox" th:checked="true"
                                           onChange="this.form.submit()">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel panel-default"
                 th:if="${!shoppingCartIngredientsUnchecked.isEmpty()}">
                <div class="panel-heading">Unchecked ingredients</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="shoppingCartIngredient, iter : ${shoppingCartIngredientsUnchecked}">
                            <th scope="row" th:text="${iter.index + 1}"></th>
                            <td th:text="${shoppingCartIngredient.getFirst()}"></td>
                            <td>
                                <div th:each="quantity : ${shoppingCartIngredient.getSecond()}">
                                    <p th:text="${quantity}"> </p>
                                </div>
                            </td>
                            <td>
                                <form sec:authorize="isAuthenticated()" method="post"
                                      th:action="'/cart/check-all-ingredients-by-name/true'">
                                    <input type="hidden" th:name="shoppingCartIngredientName"
                                           th:value="${shoppingCartIngredient.getFirst()}">
                                    <input type="checkbox" th:checked="false"
                                           onChange="this.form.submit()">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
