<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Recipes</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div th:replace="fragments/messages :: messages"/>

    <h2 th:text="${title}"></h2>

    <div class="alert alert-warning alert-dismissible" role="alert" th:if="${!recipes.iterator().hasNext()}">
        <span>The list is empty.</span>
    </div>

    <div class="row">
        <div class="col-md-4" style="min-height: 410px;" th:each="recipe, iter : ${recipes}">
            <div class="thumbnail">
                <a th:href="@{'/recipes/' + ${recipe.getId()} + '/view'}">
                    <img th:src="@{'/recipes/' + ${recipe.getId()} + '/image'}" style="width:100%">
                    <div class="caption">
                        <p>
                            <ul class="list-inline">
                                <li>
                                    <a th:href="@{'/recipes/' + ${recipe.getId()} + '/view'}" th:text="${recipe.getName()}"></a>
                                </li>
                                <li>
                                    <form sec:authorize="isAuthenticated()" method="post"
                                          th:action="'/favorites/' + ${recipe.getId()} + '/add-to-favorites/' + ${fromFavorites} + '/false'">
                                        <button type="submit" class="btn btn-link btn-sm">
                                            <span th:if="${!favorites.get(iter.index)}" class="glyphicon glyphicon-heart-empty"></span>
                                            <span th:if="${favorites.get(iter.index)}" class="glyphicon glyphicon-heart"></span>
                                        </button>
                                    </form>
                                </li>
                                <li>
                                    <a class="btn-sm" th:if="${#authentication.getName().equals(recipe.getAuthor().getUsername())}"
                                       th:href="@{'/recipes/' + ${recipe.getId()} + '/edit'}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </li>
                            </ul>
                        </p>
                        <p>
                            <i>
                                published on <span th:text="${#dates.format(recipe.getCreated(), 'dd-MM-yyyy HH:mm')}"></span>
                                <span th:if="${hideAuthor == null}">
                                    by <span th:text="${recipe.getAuthor().getUsername()}"></span>
                                </span>
                            </i>
                        </p>
                        <p>
                            <form sec:authorize="isAuthenticated()" method="post"
                                  th:action="'/cart/' + ${recipe.getId()} + '/add-to-cart/false'">
                                <button type="submit" class="btn btn-info btn-xs">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Add ingredients to cart
                                </button>
                            </form>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
