<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipes</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div th:replace="fragments/messages :: messages"/>

    <form method="post"
          th:if="${recipe.getId()}"
          th:action="'/recipes/' + ${recipe.getId()} + '/delete'" id="delete-recipe-form">
    </form>

    <form class="col-md-offset-3 col-md-6" th:object="${recipe}" method="post" enctype="multipart/form-data"
          th:action="${recipe.getId()} ? '/recipes/' + ${recipe.getId()} + '/edit' : '/add-recipe'">
        <h3 th:if="${recipe.getId()}">Edit recipe</h3>
        <h3 th:if="${recipe.getId() == null}">Add new recipe</h3>

        <div class="panel panel-default">
            <div class="panel-heading">Details</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" th:field="*{name}" class="form-control"
                           id="name" placeholder="Enter the recipe name" required>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea th:field="*{description}" class="form-control"
                              id="description" placeholder="Enter the recipe description" required>
                    </textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" th:field="*{isDrink}"> Is Drink?</label>
                </div>

                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" class="form-control-file" name="recipe-image" id="image"
                           th:attrappend="required=${recipe.getId() == null} ? 'required'">
                    <img width="400"
                         th:if="${recipe.getId()}"
                         th:src="@{'/recipes/' + ${recipe.getId()} + '/image'}">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Save">

                    <a href="#" class="btn btn-danger pull-right"
                       th:if="${recipe.getId()}"
                       onclick="confirm('Are you sure?') && document.getElementById('delete-recipe-form').submit();">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </form>

    <div class="col-md-offset-3 col-md-6" th:if="${recipe.getId()}">
        <div class="panel panel-default">
            <div class="panel-heading">Ingredients</div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ingredient, iter : ${recipe.getIngredients()}">
                        <th scope="row" th:text="${iter.index + 1}"></th>
                        <td th:text="${ingredient.getName()}"></td>
                        <td th:text="${ingredient.getQuantity()}"></td>
                        <td>
                            <form method="post"
                                  th:action="'/ingredients/' + ${ingredient.getId()} + '/delete'">
                                <button type="submit" class="btn btn-xs btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <form th:object="${ingredient}" method="post"
                          th:action="'/recipes/' + ${recipe.getId()} + '/add-ingredient'">
                        <tr>
                            <th></th>
                            <td>
                                <input type="text" th:field="*{name}" class="form-control"
                                       placeholder="Enter the ingredient name" required>
                            </td>
                            <td>
                                <input type="text" th:field="*{quantity}" class="form-control"
                                       placeholder="Enter the quantity" required>
                            </td>
                            <td>
                                <input type="submit" class="btn btn-primary" value="Add">
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
