<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Recipes</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div th:replace="fragments/messages :: messages"/>

    <div class="col-md-offset-3 col-md-6">
        <h3>
            <ul class="list-inline list-group">
                <li>
                    <span th:text="${recipe.getName()}"></span>
                </li>
                <li>
                    <form sec:authorize="isAuthenticated()" method="post"
                          th:action="'/favorites/' + ${recipe.getId()} + '/add-to-favorites/' + ${fromFavorites} + '/true'">
                        <button type="submit" class="btn btn-link btn-lg">
                            <span th:if="${!favorite}" class="glyphicon glyphicon-heart-empty"></span>
                            <span th:if="${favorite}" class="glyphicon glyphicon-heart"></span>
                        </button>
                    </form>
                </li>
                <li>
                    <a th:if="${#authentication.getName().equals(recipe.getAuthor().getUsername())}"
                       th:href="@{'/recipes/' + ${recipe.getId()} + '/edit'}" class="btn-lg">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </li>
            </ul>
            <form sec:authorize="isAuthenticated()" method="post"
                  th:action="'/cart/' + ${recipe.getId()} + '/add-to-cart/true'">
                <button type="submit" class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Add ingredients to cart
                </button>
            </form>
        </h3>

        <div class="thumbnail">
            <img th:src="@{'/recipes/' + ${recipe.getId()} + '/image'}" style="width:100%">
            <div class="caption">
                <p th:text="${recipe.getDescription()}"></p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Ingredients</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ingredient, iter : ${recipe.getIngredients()}">
                    <th scope="row" th:text="${iter.index + 1}"></th>
                    <td th:text="${ingredient.getName()}"></td>
                    <td th:text="${ingredient.getQuantity()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
