<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Recipes</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div th:replace="fragments/messages :: messages"/>

    <a class="btn btn-info btn-sm" th:href="@{'/cart/group-ingredient-list'}">
        <span class="glyphicon glyphicon-list"></span> Switch to ingredients list from shopping cart
    </a>

    <h2>My recipes from shopping list
        <form sec:authorize="isAuthenticated()" method="post"
              th:action="'/cart/clear-shopping-cart'"
              th:if="${!shoppingCartRecipes.isEmpty()}"
              class="pull-right">
            <button type="submit" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-trash"></span> Clear shopping list
            </button>
        </form>
    </h2>

    <div class="alert alert-warning alert-dismissible" role="alert" th:if="${shoppingCartRecipes.isEmpty()}">
        <span>The list is empty.</span>
    </div>

    <div class="thumbnail row" th:each="shoppingCartRecipe : ${shoppingCartRecipes}">
        <div class="col-md-4">
            <a th:href="@{'/cart/shoppingCartRecipes/' + ${shoppingCartRecipe.getId()} + '/view'}">
                <h4 th:text="${shoppingCartRecipe.getName()}"></h4>
                <img th:src="@{'/cart/cart-recipes/' + ${shoppingCartRecipe.getId()} + '/image'}" style="width:100%">
            </a>
        </div>
        <div class="col-md-8 center-block">
            <div class="panel panel-default">
                <div class="panel-heading">Ingredients</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="shoppingCartIngredient, iter : ${shoppingCartRecipe.getIngredients()}">
                        <th scope="row" th:text="${iter.index + 1}"></th>
                        <td th:text="${shoppingCartIngredient.getName()}"></td>
                        <td th:text="${shoppingCartIngredient.getQuantity()}"></td>
                        <td>
                            <form sec:authorize="isAuthenticated()" method="post"
                                  th:action="'/cart/' + ${shoppingCartRecipe.getId()} + '/check-ingredient' + '/' + ${shoppingCartIngredient.getId()} + '/false'">
                                <input type="checkbox" th:checked="${shoppingCartIngredient.isBought()}" onChange="this.form.submit()">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
