<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Recipes</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div th:replace="fragments/messages :: messages"/>

    <div class="col-md-offset-3 col-md-6">
        <h3>
            <span th:text="${shoppingCartRecipe.getName()}"></span>
        </h3>

        <div class="thumbnail">
            <img th:src="@{'/cart/cart-recipes/' + ${shoppingCartRecipe.getId()} + '/image'}" style="width:100%">
            <div class="caption">
                <p th:text="${shoppingCartRecipe.getDescription()}"></p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Ingredients</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="shoppingCartIngredient, iter : ${shoppingCartRecipe.getIngredients()}">
                    <th scope="row" th:text="${iter.index + 1}"></th>
                    <td th:text="${shoppingCartIngredient.getName()}"></td>
                    <td th:text="${shoppingCartIngredient.getQuantity()}"></td>
                    <td>
                        <form sec:authorize="isAuthenticated()" method="post"
                              th:action="'/cart/' + ${shoppingCartRecipe.getId()} + '/check-ingredient' + '/' + ${shoppingCartIngredient.getId() + '/true'}">
                            <input type="checkbox" th:checked="${shoppingCartIngredient.isBought()}" onChange="this.form.submit()">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
